Repository sparc-software-hust/waznet, pull requests merged in 2025-01, with the labels that each got.

#44 feature(mobile): add delete account
  api/lib/cecr_unwomen_web/controllers/contribution_controller.ex
  api/lib/cecr_unwomen_web/controllers/user_controller.ex
  api/lib/cecr_unwomen_web/models/user.ex
  api/lib/cecr_unwomen_web/router.ex
  api/priv/repo/migrations/20250102035453_add_field_is_removed_user_table.exs
  mobile/.gitignore
  mobile/lib/features/authentication/bloc/authentication_bloc.dart
  mobile/lib/features/authentication/bloc/authentication_event.dart
  mobile/lib/features/authentication/repository/authentication_api.dart
  mobile/lib/features/authentication/repository/authentication_repository.dart
  mobile/lib/features/user/view/user_info.dart
  mobile/lib/widgets/confirm_card.dart
  mobile/lib/widgets/navigation_button.dart
  mobile/pubspec.yaml
Labels: api, mobile

#54 improve(docs): update README
  README.md
Labels: documentation

#57 improve(api): config rabbitmq
  api/config/dev.exs
  api/config/runtime.exs
  api/docker_compose_prod.yaml
  api/lib/cecr_unwomen/consumer.ex
Labels: api

#78 improve contribute api
  api/lib/cecr_unwomen_web/controllers/contribution_controller.ex
Labels: api
